<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lkf.ttshop.dao.RppermissionMapper" >
  <resultMap id="BaseResultMap" type="com.lkf.ttshop.pojo.po.Rppermission" >
    <id column="Id" property="id" jdbcType="DECIMAL" />
    <result column="permissionname" property="permissionname" jdbcType="VARCHAR" />
    <result column="Url" property="url" jdbcType="VARCHAR" />
    <result column="permissionlevel" property="permissionlevel" jdbcType="DECIMAL" />
    <result column="ParentId" property="parentid" jdbcType="DECIMAL" />
    <result column="Type" property="type" jdbcType="CHAR" />
    <result column="Icon" property="icon" jdbcType="VARCHAR" />
    <result column="Deleted" property="deleted" jdbcType="CHAR" />
    <result column="OrderNum" property="ordernum" jdbcType="DECIMAL" />
    <result column="permissionremark" property="permissionremark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, permissionname, Url, permissionlevel, ParentId, Type, Icon, Deleted, OrderNum, 
    permissionremark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lkf.ttshop.pojo.po.RppermissionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rppermission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from rppermission
    where Id = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from rppermission
    where Id = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.lkf.ttshop.pojo.po.RppermissionExample" >
    delete from rppermission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lkf.ttshop.pojo.po.Rppermission" >
    insert into rppermission (Id, permissionname, Url, 
      permissionlevel, ParentId, Type, 
      Icon, Deleted, OrderNum, 
      permissionremark)
    values (#{id,jdbcType=DECIMAL}, #{permissionname,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{permissionlevel,jdbcType=DECIMAL}, #{parentid,jdbcType=DECIMAL}, #{type,jdbcType=CHAR}, 
      #{icon,jdbcType=VARCHAR}, #{deleted,jdbcType=CHAR}, #{ordernum,jdbcType=DECIMAL}, 
      #{permissionremark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lkf.ttshop.pojo.po.Rppermission" >
    insert into rppermission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="permissionname != null" >
        permissionname,
      </if>
      <if test="url != null" >
        Url,
      </if>
      <if test="permissionlevel != null" >
        permissionlevel,
      </if>
      <if test="parentid != null" >
        ParentId,
      </if>
      <if test="type != null" >
        Type,
      </if>
      <if test="icon != null" >
        Icon,
      </if>
      <if test="deleted != null" >
        Deleted,
      </if>
      <if test="ordernum != null" >
        OrderNum,
      </if>
      <if test="permissionremark != null" >
        permissionremark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="permissionname != null" >
        #{permissionname,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="permissionlevel != null" >
        #{permissionlevel,jdbcType=DECIMAL},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=CHAR},
      </if>
      <if test="ordernum != null" >
        #{ordernum,jdbcType=DECIMAL},
      </if>
      <if test="permissionremark != null" >
        #{permissionremark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lkf.ttshop.pojo.po.RppermissionExample" resultType="java.lang.Integer" >
    select count(*) from rppermission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rppermission
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.permissionname != null" >
        permissionname = #{record.permissionname,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        Url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionlevel != null" >
        permissionlevel = #{record.permissionlevel,jdbcType=DECIMAL},
      </if>
      <if test="record.parentid != null" >
        ParentId = #{record.parentid,jdbcType=DECIMAL},
      </if>
      <if test="record.type != null" >
        Type = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.icon != null" >
        Icon = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.deleted != null" >
        Deleted = #{record.deleted,jdbcType=CHAR},
      </if>
      <if test="record.ordernum != null" >
        OrderNum = #{record.ordernum,jdbcType=DECIMAL},
      </if>
      <if test="record.permissionremark != null" >
        permissionremark = #{record.permissionremark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rppermission
    set Id = #{record.id,jdbcType=DECIMAL},
      permissionname = #{record.permissionname,jdbcType=VARCHAR},
      Url = #{record.url,jdbcType=VARCHAR},
      permissionlevel = #{record.permissionlevel,jdbcType=DECIMAL},
      ParentId = #{record.parentid,jdbcType=DECIMAL},
      Type = #{record.type,jdbcType=CHAR},
      Icon = #{record.icon,jdbcType=VARCHAR},
      Deleted = #{record.deleted,jdbcType=CHAR},
      OrderNum = #{record.ordernum,jdbcType=DECIMAL},
      permissionremark = #{record.permissionremark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lkf.ttshop.pojo.po.Rppermission" >
    update rppermission
    <set >
      <if test="permissionname != null" >
        permissionname = #{permissionname,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        Url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="permissionlevel != null" >
        permissionlevel = #{permissionlevel,jdbcType=DECIMAL},
      </if>
      <if test="parentid != null" >
        ParentId = #{parentid,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        Type = #{type,jdbcType=CHAR},
      </if>
      <if test="icon != null" >
        Icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        Deleted = #{deleted,jdbcType=CHAR},
      </if>
      <if test="ordernum != null" >
        OrderNum = #{ordernum,jdbcType=DECIMAL},
      </if>
      <if test="permissionremark != null" >
        permissionremark = #{permissionremark,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lkf.ttshop.pojo.po.Rppermission" >
    update rppermission
    set permissionname = #{permissionname,jdbcType=VARCHAR},
      Url = #{url,jdbcType=VARCHAR},
      permissionlevel = #{permissionlevel,jdbcType=DECIMAL},
      ParentId = #{parentid,jdbcType=DECIMAL},
      Type = #{type,jdbcType=CHAR},
      Icon = #{icon,jdbcType=VARCHAR},
      Deleted = #{deleted,jdbcType=CHAR},
      OrderNum = #{ordernum,jdbcType=DECIMAL},
      permissionremark = #{permissionremark,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=DECIMAL}
  </update>
</mapper>