<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lkf.ttshop.dao.RpuserCustomMapper" >

  <sql id="Base_Column_List" >
    i.Id, i.useraccount, i.password, i.username, i.Sex, i.Mobile, i.Email, i.userstatus, i.DeptId, i.Deleted,
    i.userremark
  </sql>
  <sql id="Where_Clause">
    <where>
      <if test="query != null and query.username != null and query.username != '' ">
        and i.username like '%${query.username}%'
      </if>
    </where>
  </sql>
  <select id="listUserByPage" parameterType="com.lkf.ttshop.dto.Page" resultType="com.lkf.ttshop.pojo.vo.RpUserCustom">
    select
    <include refid="Base_Column_List" />
    from rpuser i
    <include refid="Where_Clause"/>
    order by i.id desc
    limit #{page.offset},#{page.rows}
  </select>
  <select id="couontUsers" resultType="long">
    select
    count(*)
    from rpuser i
    order by i.id desc
  </select>
</mapper>