<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lkf.ttshop.dao.RpuserCustomMapper" >
  <sql id="Base_Column_List" >
    i.Id, i.useraccount, i.password, i.username, i.Sex, i.Mobile, i.Email, i.userstatus, i.DeptId, i.Deleted,
    i.userremark,c.deptname
  </sql>
  <sql id="Where_Clause">
    <where>
      i.Deleted != '1'
      <if test="query != null and query.username != null and query.username != '' ">
        and i.username like '%${query.username}%'
      </if>
      <if test="query != null and query.useraccount != null and query.useraccount != '' ">
        and i.useraccount like '%${query.useraccount}%'
      </if>
      <if test="query != null and query.Mobile != null and query.Mobile != '' ">
        and i.Mobile like '%${query.Mobile}%'
      </if>
      <if test="query != null and query.userstatus != null and query.userstatus != '' ">
        and i.userstatus like '%${query.userstatus}%'
      </if>
    </where>
  </sql>
  <select id="listUserByPage" parameterType="com.lkf.ttshop.dto.Page" resultType="com.lkf.ttshop.pojo.vo.RpUserCustom">
    select
    <include refid="Base_Column_List" />
    from rpuser i
    LEFT  JOIN rpdept c
    ON  i.DeptId = c.id
    <include refid="Where_Clause"/>
    order by i.id asc
    limit #{page.offset},#{page.rows}
  </select>
  <update id="updateUser" >
    UPDATE  rpuser i
    <set>
      <if test="useraccount != '' and useraccount != null ">
        useraccount = #{useraccount},
      </if>
      <if test="password != '' and password != null ">
        password = #{password},
      </if>
      <if test="username != '' and username != null">
        username = #{username},
      </if>
      <if test="sex != '' and sex != null">
        sex = #{sex},
      </if>
      <if test="mobile != '' and mobile != null ">
        mobile = #{mobile},
      </if>
      <if test="email != '' and email != null ">
        email = #{email},
      </if>
      <if test="userstatus != '' and userstatus != null ">
        userstatus = #{userstatus},
      </if>
      <if test="deleted != '' and deleted != null">
        deleted = #{deleted},
      </if>
      <if test="userremark != '' and userremark != null ">
        userremark = #{userremark},
      </if>
    </set>
    WHERE  id = #{id}
  </update>
  <select id="selectByUserName" resultType="com.lkf.ttshop.pojo.vo.RpUserCustom">
    select *
    from rpuser
    where username = #{username}
  </select>
  <select id="couontUsers" resultType="long">
    select
    count(*)
    from rpuser i
    order by i.id asc
  </select>
</mapper>